<!--
    Generic form:

        [serviceObject]     - The service class object which actions are used in the generic form and table.
        [titles]            - Text displayed left of their forms.
        [valueTagsTypes]    - Array of ValueTagTypes which correspond to the representing interface.
        [default_object]    - Default values displayed in the form.

    Generic table:

        [columnNames]           - Text displayed at the top of the columns
        [columnValueTagTypes]   - Array of ValueTagTypes which correspond to the representing interface.
        [actions]               - Array of ActionPairs which contain a function and button text.
-->

<app-generic-form [serviceObject]="exampleService" [titles]="prettyTitles" [valueTagsTypes]="example_tagTypes" [default_object]="default_example" [dropdowns]="dropdowns"></app-generic-form>

<br>
<br>

<app-generic-table [serviceObject]="exampleService" [columnNames]="prettyTitles" [columnValueTagTypes]="example_tagTypes" [actions]="actions"></app-generic-table>