<div id="tableContainer">
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of columnNames">{{column}}</th>
                <th *ngFor="let a of actions"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let object of serviceObject.getAll(); let i = index">
                <td *ngFor="let valueTagType of columnValueTagTypes">
                    <p *ngIf="valueTagType.nest == null; else nested">{{object[valueTagType.tag]}}</p>
                    <ng-template #nested>{{object[valueTagType.tag][valueTagType.nest!]}}</ng-template>
                </td>
                <td class="buttons" *ngFor="let action of actions"><button (click)="action.actionFunction()">{{action.buttonTitle}}</button></td>
                <td class="buttons"><button (click)="serviceObject.delete(i)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>