#tableContainer {
    overflow-x:auto;
    width: 40%;
}

table {
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

p {
    padding: 0;
    margin: 0;
}

th, td {
    text-align: left;
    padding: 7px;
    border-bottom: 1px solid rgb(187, 187, 187);
}

th {
    background-color: #04AA6D;
    color: white;
}

td:last-child {
    text-align: center;
}

.buttons {
    text-align: right;
}

tr:hover {background-color: rgb(228, 228, 228);}