form {
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
}

p {
    padding: 0;
    margin: 0;
}

input, select {
    width: 100%;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 4px;
}

#container {
    display: inline-block;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #04AA6D;
    color: white;
}