<div id="container">
    <form (ngSubmit)="create()" ngNativeValidate>
        <div *ngFor="let tagType of valueTagsTypes; let i = index">
            <label *ngIf="tagType.type != 'dropdown'">{{titles[i]}} <input type={{tagType.type}} [(ngModel)]="default_object[tagType.tag]" name={{tagType.tag}} required></label>
        </div>
        <div *ngFor="let dropdown of dropdowns">
            <label>{{dropdown.labelText}}
                <select name={{dropdown.name}} [(ngModel)]="dropdown.linkedObject[dropdown.name]" required>
                    <option *ngFor="let object of dropdown.linkedArray" [ngValue]="object">
                        <p *ngIf="dropdown.valueToDisplay != null; else directDisplay">{{object[dropdown.valueToDisplay]}}</p>
                        <ng-template #directDisplay>{{object}}</ng-template>
                    </option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <input type="submit" value="Create">
        </div>
    </form>
</div>